<!DOCTYPE html>
<html lang="en">
<head>
  <title>Display Video</title>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/normalize.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link href="{{url_for('static',filename='css/main.css')}}" rel = "stylesheet">
  <link href="{{url_for('static',filename='css/normalize.css')}}" rel = "stylesheet">
</head>
<body>
  <div class="banner1 " >

    <div class="nav" >
      <input type="checkbox"id="check">
      <label for="check" class="checkbtn">
          <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Deepfake Detection</label >
        <ul>
          <li><a class="active" href="/">Home</a></li>
          <li><a href="https://github.com/grad2022project/deepfake-detection">GitHub</a></li>
          <li><a href="{{url_for('static',filename='templates/About-us.html')}}" >About_Us </a></li>
         
        </ul>
      </div>
      <div class="containerr">
        <h1 class="jumbotron bg-primary">Video Prediction</h1>

        <form class="form-horizontal" action="/submit" method="post" enctype="multipart/form-data">

      	{% if prediction %}

       <video width="480" height="300" controls>
        <source src="{{url_for('static',filename = video_path)}}" type="video/mp4">
      </video>

      <br>
      <h2> The Prediction   : <i> {{prediction}} </i></h2>
      	{% endif %}
        </form>
      </div>
    </div>

    <footer class="footer">
       <div class="container">
        <div class="row">
          <div class="footer-col">
            <h1>Deepfake Detection</h1>
          </div>
          <div class="footer-col">
              <h4>Contact-Us</h4>
          <ul>
            <li><a href="https://github.com/grad2022project/deepfake-detection">GitHub</a></li>
            <li><a href="mailto:graduationproject2000@gmail.com">Gmail</a></li>
          </ul>
          </div>
          <div class="footer-col">
            <h4 class="copy">copyrights</h4>
            <ul class="terms">
              <li>Terms of Service</li>
              <li>Privacy Policy</li>
              <li>deepfakedetection.com ™ | © 2022></li>
            </ul>
          </div>
        </div>
       </div>
     </footer>
     <script src="js/jquery-1.12.4.min.js"></script>
     <script src="js/main.js"></script>


</body>
</html>
